.tab-background {
  background-color: #562b81;
  color: #fff;
}

.tab-heading {
  font-family: sans-serif;
  font-weight: 300;
}

.grey-background {
  background-color: #f0f0f0;
}

.resize {
  object-fit: cover;
  width: 100%;
  margin: 18px 0;
  padding: 0;
}

.input {
  width: 100%;
  padding: 0.2rem;
}

.heading {
  font-family: sans-serif;
  font-weight: 550;
}

.subheading {
  font-family: sans-serif;
  font-weight: 550;
}

.text-content {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 28px;
  padding: 0 0 1rem;
}

.right-button {
  text-align: right;
  padding: 1rem 0;
}

.button {
  background-color: #562b81;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.25rem;
}

.entries-heading {
  padding: 0;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

ul {
  padding-inline-start: 0;
}
