body {
  font-family: sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #562b81;
  padding: 1rem 0;
}

h1 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 550;
  margin: 1rem 0;
}

h2 {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 550;
  margin: 0;
  color: #fff;
}

h3 {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 550;
  margin: 0 0 1rem;
}

a {
  margin-left: 1rem;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}

p {
  font-family: sans-serif;
  margin: 0 0 1rem;
  white-space: pre-line;
}

i {
  cursor: pointer;
  color: #562b81;
  font-size: 1.25rem;
  float: right;
}

img,
.photo {
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
  margin-bottom: 1rem;
}

input,
textarea {
  font-family: sans-serif;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  resize: none;
  outline: none;
}

textarea {
  margin-bottom: 1rem;
  line-height: 1rem;
}

button {
  float: right;
  background-color: #562b81;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fas {
  display: inline-block;
}

.entries-margin {
  margin: 1rem 0 2rem;
}

.new-button {
  cursor: pointer;
  margin: 1rem 0;
}

.text-center {
  text-align: center;
}
